.project-container{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.project-card{
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: 1.5rem;
}

.project-img-wrapper{
    border-radius: 1.25rem;
    overflow: hidden;
    display: block;
}

.project-img{
    transition: transform 0.3s ease;
}

.project-card:hover .project-img{
    transform: scale(1.2);
}

.project-title{
    font-size: var(--large-font-size);
    margin-block: 1.5rem 0.5rem;
}

.project-description {
    font-size: var(--small-font-size);
    line-height: 1.5;
}

.project-skills{
    background-color: var(--body-color);
    padding-inline: 0.75rem;
    width: max-content;
    height: 34px;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
    margin-block: 1.5rem;
}

.project-skill{
    width: 16px;
}

.project-tool{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

.project-link{
    color: var(--title-color);
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    transition: color 0.3s ease;
}

.project-link:hover{
    color: var(--text-color);
}

.link-icon{
    font-size: 1.25rem;
}